:root {
    /* COLORS */
    --orange: hsl(26, 100%, 55%);
    --plate-orange: hsl(25, 100%, 94%);

    --very-vark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%); /* with 75% opacity for lightbox background */


    /* BOX SIZING */
    box-sizing: border-box;
}



/* BODY LAYOUT */

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
}

header, main {
    margin: 0 20px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

main {
    align-items: center;
}

header, nav, main, #shopping {
    display: flex;
}



/* NAV LAYOUT */

header {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grayish-blue);
}

nav a, .product-desc {
    color: var(--dark-grayish-blue);
}

nav {
    height: 125px;
    align-items: center;
    align-content: space-between;
}

header .cart-dark {
    padding-bottom: 15px;
}

header .cart-dark:active {
    filter: brightness(0);
}

.avatar {
    height: 50px;
    margin-left: 30px;
    border: 2px solid white;
}

.avatar:active {
    border-radius: 50px;
    border: 2px solid var(--orange);
}

.nav-links > * {
    margin-left: 25px;
}

.nav-links a {
    width: 50px;
    padding: 0 10px;
}

.nav-links a:hover {
    border-bottom: 4px solid var(--orange);
    padding-bottom: 49px;
    color: black;
}



/* PRODUCT IMAGES */

#product img, #lightbox img {
    border-radius: 15px;
}

#product > ul {
    padding: 0;
    margin-left: 32px;
}

.large-image {
    max-width: 525px;
    margin: 110px 150px 0 50px;
    display: none;
    cursor: zoom-in;
}

.large-image.selected {
    display: block;
}

.small-image {
    max-width: 105px;
    cursor: pointer;
    height: 105px;
    width: 105px;
}

#product li {
    margin: 14px;
    border: solid 2px white;
    height: 105px;
    width: 105px;
    border-radius: 17px;
}

.small-image:hover {
    opacity: .5;
}

#product li.active {
    border: solid 2px var(--orange);
}

#product li.active .small-image {
    opacity: .5;
}



/* PRODUCT DESCRIPTION */

.company-name {
    color: var(--orange);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}

.product-name {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

.product-desc {
    line-height: 2rem;
    margin-bottom: 40px;
}

.actual-price {
    display: flex;
}

.product-price {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    margin-right: 20px;
}

.product-reduction {
    color: var(--orange);
    background-color: var(--plate-orange);
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
    padding: 7px;
}

.product-original-price {
    color: var(--grayish-blue);
    font-weight: 700;
    text-decoration: line-through;
    margin: 15px 0 45px;
}

.product-nb {
    background-color: var(--light-grayish-blue);
    width: 150px;
    height: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-right: 20px;
}

.count {
    width: 5px;
    margin: 0 25px;
    font-weight: 700;
}

.plus-icon, .minus-icon, .add-to-cart {
    cursor: pointer;
}

.plus-icon, .minus-icon {
    padding: 18px;
}

.plus-icon:active, .minus-icon:active {
    opacity: .6;
}

.add-to-cart {
    color: white;
    background-color: var(--orange);
    font-weight: 700;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--plate-orange) 0 30px 25px -4px;
}

.add-to-cart:active {
    opacity: .6;
}

.cart-light {
    filter: brightness(0) invert(1);
    height: 20px;
    margin-right: 20px;
}


/** LIGHTBOX **/

#lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
}

#lightbox .large-image {
    margin: 40px auto;
    cursor: default;
}

#lightbox ul {
    width: 500px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#lightbox .main-image {
    position: relative;
    width: 600px;
    margin: 50px auto 0;
}

#lightbox .close {
    position: absolute;
    top: -50px;
    right: 20px;
    padding: 15px;
    cursor: pointer;
    height: 20px;
    filter: brightness(0) invert(1);
}

.prev, .next {
    position: absolute;
    top: 250px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50% !important;
    background-color: white;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

#lightbox .close:hover, .prev:hover, .next:hover {
    filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}