/* MEDIUM DESKTOP SCREEN SIZE */
@media screen and (max-width: 1250px) {
    .large-image {
        margin: 110px 12vw 0 4vw;
    }

    #product ul {
        margin-left: 3vw;
    }

    #shopping {
        display: block;
    }

    .product-nb, .add-to-cart {
        width: 300px;
        height: 50px;
        margin: 0 0 20px;
        padding: 0;
    }
}

/* SMALL DESKTOP SCREEN SIZE */
@media screen and (max-width: 1070px) {
    main {
        flex-wrap: wrap;
        justify-content: center;
    }

    #desc {
        width: 600px;
    }

    .product-nb, .add-to-cart {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 900px) {
    .nav-links {
        padding-left: 2vw;
    }

    .nav-links > * {
        margin-left: 1vw;
    }
}

/* MOBILE & TABLET SCREEN */
@media screen and (max-width: 770px) {
    header {
        margin: 0;
        padding: 0 20px;
    }

    .mobile-menu-bg {
        display: none;
        position: fixed;
        z-index: 1;
        background-color: rgba(0,0,0,.6);
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .nav-links {
        display: none;
        position: fixed;
        z-index: 2;
        background-color: white;
        font-weight: 700;
        height: 100vh;
        width: 60vw;
        top: 0;
        left: 0;
        margin-top: 0;
    }

    .menu-open, .menu-close {
        z-index: 3;
        cursor: pointer;
    }

    .menu-open {
        position: absolute;
        display: block;
    }

    .menu-close {
        position: fixed;
    }

    #logo {
        margin-left: 30px;
    }

    .nav-links li {
        display: block;
        margin-top: 30px;
    }

    .nav-links li:first-of-type {
        margin-top: 75px;
    }

    .nav-links a {
        color: black;
        padding: 10px;
    }

    .nav-links a:hover {
        border-bottom: none;
        padding: 10px;
    }

    nav {
        height: 70px;
    }

    .avatar {
        height: 35px;
    }

    #product {
        display: none;
    }

    #lightbox {
        display: block;
        position: relative;
        background-color: white;
        overflow: visible;
        z-index: auto;
    }

    #lightbox .large-image {
        margin: 0;
        width: 100vw;
        cursor: default;
    }

    #lightbox ul {
        display: none;
    }

    #lightbox .main-image {
        position: relative;
        width: 100vw;
        margin: 0;
    }

    #lightbox .close {
        display: none;
    }

    #lightbox .prev, #lightbox .next {
        position: absolute;
        top: 175px;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
        background-color: white;
    }

    #lightbox .close:hover, .prev:hover, .next:hover {
        filter: none;
    }

    #lightbox .close:active, .prev:active, .next:active {
        filter: grayscale(100%) brightness(80%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    }

    #lightbox img {
        border-radius: 0;
    }

    .company-name {
        margin: 30px 0;
    }

    .product-name {
        font-size: 30px;
    }

    .prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    .product-original-price {
        margin: 0;
    }

    .add-to-cart {
        margin-bottom: 50px;
    }

    #cart {
        width: 95vw;
        height: 300px;
        right: -10px;
        top: 68px;
    }

    .nb-product-cart {
        top: 3px;
    }

    .cart-header {
        padding: 30px;
    }

    .cart-content.empty {
        padding: 100px;
    }

    .cart-content.full, .checkout-button {
        margin-top: 10px;
        font-size: 15px;
    }
}